core/src/main/resources/META-INF/person.xsd

<xsd:schema
		xmlns="http://test.xkrivzooh.xyz/schema"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://test.xkrivzooh.xyz/schema">

	<xsd:complexType name="person">
		<xsd:attribute name="name" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[ The person name. ]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="age" type="xsd:integer">
			<xsd:annotation>
				<xsd:documentation><![CDATA[ The person age. ]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:element name="person" type="person">
		<xsd:annotation>
			<xsd:documentation><![CDATA[ person的文档 ]]></xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>